{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'tekkentiers/style.css' %}" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style type="text/css"> body { background: #1f1f1f !important; } </style>

<table class="table table-dark" style="font-family: Edo SZ; font-size: 50pt; margin: 5px; width: 100%">
    <thead>
        <tr>
            <th>TIER</th>
        </tr>
    </thead>
    <tbody>
        {% for tier, row in tiers  %}
            <tr>
                <th style="text-align: center;">{{ tier }}</th>
                {% for characterName in row %}
                    {% for character in character_list %}
                        {% if character.character_name == characterName %}
                            <td style="padding: 0px;">
                                <div class="characterCard">
                                    <div class="portrait" id="{{ character.character_name }}">
                                        <img src="{{ character.character_portrait.url }}" style="height: 75px;">
                                        <div class="nameplate">{{ character.character_name }}</div>
                                    </div>
                                </div>
                            </td>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
</table>
